__pycache__/
*.pyc
.env
venv/
blocklist.txt
data/geoip/

# Logs y datos locales
data/OpenSSH_2k.log
data/Apache_2k.log
data/uploads/
data/*.log
data/*.log.gz
data/*.json

# Variables de entorno
.env

data/app_telemetry.db
