{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}


{% block title %}Inicio | JCM Ciberseguridad{% endblock %}

{% block content %}

<section class="home-container">

  <div class="home-box">
    <h1>🔐 JCM CIBERSEGURIDAD</h1>
    <p class="subtitle">
      Plataforma de análisis automático de registros de seguridad
    </p>

    <p class="description">
      Detección de accesos sospechosos, análisis de amenazas
      y apoyo a la toma de decisiones en entornos SOC.
    </p>
  </div>

</section>

{% endblock %}
